@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 30, 30, 30;
  --background-end-rgb: 45, 45, 45;
  --button-bg: 255, 85, 85;
  --button-hover-bg: 255, 60, 60;
  --input-bg: 50, 50, 50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 15, 15, 15;
    --background-end-rgb: 30, 30, 30;
    --button-bg: 255, 99, 99;
    --button-hover-bg: 255, 50, 50;
    --input-bg: 40, 40, 40;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
